/* ===========================
   TEMPLATE 3 - GLASS UI
   =========================== */

body {
    background: linear-gradient(135deg, #6f86ff, #8fe3ff);
    font-family: Poppins, sans-serif;
}

.t3-box {
    width: 520px;
    margin: auto;
    padding: 30px;
    margin-top: 40px;
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(12px);
    border-radius: 14px;
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
    color: #fff;
}

.t3-box h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
}

.t3-box input,
.t3-box textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.35);
    color: #000;
    font-weight: bold;
}

.t3-box textarea {
    height: 100px;
}

.t3-box button {
    width: 100%;
    padding: 14px;
    background: #101820;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
